# Grafana Data Source Provisioning Configuration
# This file configures the default data sources for Grafana

apiVersion: 1

# List of datasources to insert/update
datasources:
  # Prometheus - Primary metrics data source
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: http://prometheus-operated.open-forge.svc.cluster.local:9090
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
      manageAlerts: true
      prometheusType: Prometheus
      prometheusVersion: "2.45.0"
      cacheLevel: 'High'
      incrementalQuerying: true
      incrementalQueryOverlapWindow: 10m
      exemplarTraceIdDestinations:
        - name: traceID
          datasourceUid: tempo

  # Alertmanager - For alert management
  - name: Alertmanager
    type: alertmanager
    uid: alertmanager
    access: proxy
    url: http://alertmanager-operated.open-forge.svc.cluster.local:9093
    editable: false
    jsonData:
      implementation: prometheus
      handleGrafanaManagedAlerts: false

  # Loki - Log aggregation (if deployed)
  - name: Loki
    type: loki
    uid: loki
    access: proxy
    url: http://loki.open-forge.svc.cluster.local:3100
    editable: false
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceUid: tempo
          matcherRegex: "traceID=(\\w+)"
          name: TraceID
          url: "$${__value.raw}"

  # Tempo - Distributed tracing (if deployed)
  - name: Tempo
    type: tempo
    uid: tempo
    access: proxy
    url: http://tempo.open-forge.svc.cluster.local:3200
    editable: false
    jsonData:
      httpMethod: GET
      tracesToLogs:
        datasourceUid: loki
        tags: ['service.name', 'namespace']
        mappedTags: [{ key: 'service.name', value: 'service' }]
        mapTagNamesEnabled: true
        spanStartTimeShift: '-1h'
        spanEndTimeShift: '1h'
        filterByTraceID: true
        filterBySpanID: false
      serviceMap:
        datasourceUid: prometheus
      nodeGraph:
        enabled: true
      search:
        hide: false
      lokiSearch:
        datasourceUid: loki

# List of datasources to delete from the database
deleteDatasources: []
